<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CloudTemple.JSON.JsonSettings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <CloudTemple.JSON.JsonSettings>
      <setting name="ReportsDestinationFolder" serializeAs="String">
        <value>..\..\..\..\Reports\JSON_Reports\</value>
      </setting>
    </CloudTemple.JSON.JsonSettings>
  </applicationSettings>
</configuration>