<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CloudTemple.Excel.ExcelSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CloudTemple.Excel.ExcelSettings>
            <setting name="ExcelConnectionString" serializeAs="String">
                <value>Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 12.0 xml;HDR=Yes';</value>
            </setting>
            <setting name="ModelsDataFileLocation" serializeAs="String">
                <value>..\..\..\..\ModelsData\models-data.xlsx</value>
            </setting>
            <setting name="SalesReportsDestinationFolder" serializeAs="String">
                <value>..\..\..\..\ModelsData\SalesReports\</value>
            </setting>
            <setting name="OutputZipFileLocation" serializeAs="String">
                <value>..\..\..\..\DataSources\sales-reports.zip</value>
            </setting>
            <setting name="ExcelReportsDestinationFolder" serializeAs="String">
                <value>..\..\..\..\Reports\XlsxReports\</value>
            </setting>
        </CloudTemple.Excel.ExcelSettings>
    </applicationSettings>
</configuration>